/* style.css */
#map {
    height: 400px; /* Adjust as needed */
    width: 100%; /* Adjust as needed */
}

#predictionResult {
    margin-top: 20px;
    padding: 10px;
    background: #f4f4f4;
    border: 1px solid #ddd;
}
